div{
  background-color: #e1e1c8;
}

footer h3, p{
  color: #183040;
}

footer p{
  color: #183040;
  font-size: 12px;
  margin-bottom: 0px;
}

.row{
  position: relative;
  left: 20px;
}

.cat{
  position: relative;
  top: 35px;
}

label{
  color: white;
  position: relative;
  left: 20px;
  top: -20px;
}
