<div>
  <footer class="container">

    <div class="row">
      <div class="col-sm-3 offset-sm-3">
        <h3>Easy recipes</h3>
        <p>Here we make recipes</p>
        <p>Do you want to add your own recipe?</p>
        <p>Simply make the recipe and create it</p>
        <p>Then share with family and friends</p>
        <p>Please enjoy!</p>
      </div>

      <div class="col-sm-3">
        <h3>About Us</h3>
        <p>We are dedicated amateur cooks</p>
        <p>Looking to help out others</p>
        <p>By inspiring and endorsing, the little</p>
        <p>cook located inside the heart</p>
        <p>of every aspired chef!</p>
      </div>

    </div>
  </footer>
</div>
