<div>
  <footer class="container">

    <div class="row">
      <div class="col-sm-3 offset-sm-3">
        <h3>Easy Baking</h3>
        <p>Here we make cake</p>
        <p>You want add your cake?</p>
        <p>Simply make recipe</p>
        <p>Share with family and friends</p>
        <p>Please enjoy!</p>
      </div>

      <div class="col-sm-3">
        <h3>About Us</h3>
        <p>Dedicated amateur cooks</p>
        <p>Looking to help out</p>
        <p>Inspire and endorse</p>
        <p>Located inside the heart</p>
        <p>Of every aspired chef!</p>
      </div>

    </div>
  </footer>
</div>
