.jumbotron {
  background-size: cover;
  background-color: beige;
  background-position-y: center;
  margin-bottom: 0px;
  border-radius: 0;
}

.categories {
  text-align: center;
}

button {
  color: #fefefe;
  margin: 15px;
}

label {
  color: #183040;
}

input,
input:focus {
  border: none!important;
  background: white;
  color: #183040;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset!important;
  -webkit-text-fill-color: #183040!important;
}

select {
  background-color: white!important;
  color: #183040!important;
  border: none!important;
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 20px;
}

#logindiv {
  border-right: dashed 2px #183040;
}

form button{;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

form button:disabled{
  cursor: not-allowed;
  border: none;
  background-color: rgba(96,96,96,0.20);
  height: 50px;
}

button {
  margin: 15px;
}

h6{
  color: red;
}

h1 {
  color: #183040;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  margin-left: 27%;
  margin-right: 15px;
  margin-bottom: 69px;
}

progressbar{
  width: 300px;
  margin-left: auto;
  margin-right:auto;
}
