<div class="jumbotron">
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
  <div *ngIf="!loading" class="container">

    <h1>New Recipes</h1>

    <div class="row row-cols-3 row-cols-md-2">
      <div id="cards" class="col-sm-3" *ngFor="let recipe of recipes">
        <div class="card">
          <a routerLink="/recipes/details/{{recipe.ID}}">
            <img src="{{recipe.imageURL}}" class="card-img-top" alt="...">
          </a>

          <div class="card-body">
            <h5 class="card-title-top">{{recipe.title}}</h5>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
