<div class="background">
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
  <div *ngIf="!loading">

    <div id="events" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="/recipes/all">
            <h2 align="center">Find Something To Cook</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/foodAsian.jpg?alt=media&token=7c10eaea-29aa-43ae-b02e-2766a9d6fe31">
          </a>
        </div>
        <div class="col-sm">
          <a href="/profile/create">
            <h2 align="center">Add Your Own Recipe</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/ingredientsBakingpan.jpg?alt=media&token=0c24d5f1-c96d-4a9b-8761-054534fc50a1">
          </a>
        </div>
        <div class="col-sm">
          <a href="/recipes/my">
            <h2 align="center">Your<br>Recipes</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/foodSimpleLogin.jpg?alt=media&token=5866b121-09a0-4ceb-90a6-ef6f69b6a79c">
          </a>
        </div>
      </div>
    </div>
    </div>

    <div class="jumbotron">
      <div class="container">
    <h1>New Recipes</h1>

    <div class="row row-cols-3 row-cols-md-2">
      <div id="cards" class="col-sm-3" *ngFor="let recipe of recipes">
        <a routerLink="/recipes/details/{{recipe.ID}}" style="text-decoration: none; color: #183040">
          <div class="card">
            <img src="{{recipe.imageURL}}" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title-top">{{recipe.title}}</h5>
              <h5 class="card-text"><fa-icon [icon]="starIcon"></fa-icon> Rated - {{calculateRating(recipe.averageRating)}} / 5 </h5>
            </div>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>
</div>
</div>
