<div class="background">
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
  <div *ngIf="!loading">

    <div id="events" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="/recipes/all">
            <h2 align="center">Find Something To Cook</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/foodAsian.jpg?alt=media&token=7c10eaea-29aa-43ae-b02e-2766a9d6fe31">
          </a>
        </div>
        <div class="col-sm">
          <a href="/profile/create">
            <h2 align="center">Add Your Own Recipe</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/ingredientsSpice.jpg?alt=media&token=c8172727-f46f-42d6-b78c-980965cfe0e3">
          </a>
        </div>
        <div class="col-sm">
          <a href="/login">
            <h2 align="center">Create An Account</h2>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipeapp-d80f3.appspot.com/o/foodBlue.jpg?alt=media&token=8e75e694-b135-4d1d-beb2-7c2250c7ea36">
          </a>
        </div>
      </div>
    </div>
    </div>

    <div class="jumbotron">
      <div class="container">
    <h1>New Recipes</h1>

    <div class="row row-cols-3 row-cols-md-2">
      <div id="cards" class="col-sm-3" *ngFor="let recipes of recipes">
        <a routerLink="/recipes/details/{{recipes.ID}}" style="text-decoration: none; color: #183040">
          <div class="card">
            <img src="{{recipes.imageURL}}" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title-top">{{recipes.title}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>
</div>
</div>
