<div class="jumbotron">
  <div class="container">

    <input #searchBox class="col-md-4" [ngModel]="searchTerm" (input)="search(searchBox.value)" placeholder="Search ..."/>

    <label class="col-md-2">
      Category:
      <select class="form-control" [(ngModel)]="recipeCategory" (ngModelChange)="getRecipes()">
        <option value="0">All categories</option>
        <option *ngFor="let category of categories" value="{{category.ID}}">{{category.title}}</option>
      </select>
    </label>

    <label class="col-md-2">
      Sorting type:
      <select class="form-control" [(ngModel)]="sortingType" (ngModelChange)="getRecipes()">
        <option value="ADDED">Newest</option>
        <option value="ALF">Alphabetical</option>
        <option value="RATING">Rating</option>
      </select>
    </label>

    <label class="col-md-2">
      Sorting:
      <select class="form-control" [(ngModel)]="sorting" (ngModelChange)="getRecipes()">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
      </select>
    </label>

    <label class="col-md-2">
      Recipes per page:
      <select class="form-control" [(ngModel)]="itemsPrPage" (ngModelChange)="itemsPrPageUpdate()">
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="100">100</option>
      </select>
    </label>

    <label class="container">
      <input *ngIf="userID" type="checkbox" id="showFavorites" [checked]="showFavorites" [(ngModel)]="showFavorites" [ngModelOptions]="{standalone: true}" (ngModelChange)="getRecipes()">
      <span class="checkmark"></span>
      <label *ngIf="userID" class="checkboxLabel" for="showFavorites">Show Your Favorites Only</label>
    </label>

    <h3 *ngIf="!loading && recipes.length > 0">Recipes</h3>
    <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

    <div class="container">
      <div class="row row-cols-3 row-cols-md-2">

        <div id="cards" class="col-sm-3" *ngFor="let recipe of recipes">
          <div class="card">
            <button *ngIf="!recipe.isFavorite" (click)="favoriteRecipe(recipe.ID)" type="button" id="fav" class="btn btn-success customButton"><fa-icon [icon]="likeIcon"></fa-icon></button>
            <button *ngIf="recipe.isFavorite" (click)="unfavoriteRecipe(recipe.ID)" type="button" id="unfav" class="btn btn-danger customButton"><fa-icon [icon]="dislikeIcon"></fa-icon></button>
          <a routerLink="/recipes/details/{{recipe.ID}}" style="text-decoration: none; color: #183040">

              <img src="{{recipe.imageURL}}" class="card-img-top" alt="..." >
              <div class="card-body">
                <h5 class="card-title-top">{{recipe.title}}</h5>
                <h5 class="card-text"><fa-icon [icon]="starIcon"></fa-icon> Rated - {{recipe.averageRating}} / 5 </h5>

              </div>

          </a>
            <p class="card-text" align="center"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12 text-center" *ngIf="!loading && recipes.length == 0">
      <h3>No recipes found!</h3>
      <p style="text-align: center">You can always create your own recipe</p>
      <button type="button" class="btn btn-outline-success text-center" routerLink="/profile/create">Create Recipe</button>
      <br/>
      <br/>
    </div>

    <div>
      <div id="pages" class="row">
        <pagination
          [maxSize]="5"
          [directionLinks]="false"
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          [itemsPerPage]="itemsPrPage"
          (numPages)="smallNumPages = $event">
        </pagination>
      </div>

      <div id="paging" class="row">
        <pager
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          pageBtnClass="btn"
          previousText="« Back"
          [itemsPerPage]="itemsPrPage"
          class="pull-left">
        </pager>
      </div>
    </div>

  </div>
</div>
