.jumbotron {
  background-size: cover;
  background-color: beige;
  background-position-y: center;
  margin-bottom: 0px;
  border-radius: 0;
}

.container {
  position: relative;
}

.container img {
  width: 100%;
}

label {
  color: #183040;
}

input {
  background: white;
  border: none!important;
  color: #183040;
  padding: 12px 20px;
}

select {
  min-height: 48px;
  padding: 0 16px;
  background-color: white!important;
  color: #183040!important;
  border: none!important;
}

h3 {
  color: #183040;
  text-align: center;
}

h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 8px;
}

#cards {
  padding: 15px;
}

.card {
  background-color: #e1e1c8;
  border: none;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#pages {
  justify-content: center;
}

#paging {
  position: relative;
  right: 20px;
  justify-content: center;
}

.customButton {
  width: 44px;
  height: 38px;
}

#fav, #unfav {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* Custom Check Box */
/* Hide the browser's default checkbox */
#showFavorites {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #dddddd;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #17A2B8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 10px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxLabel {
  padding: 6px 0 0 30px;
}
