<div class="jumbotron">
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true"
               [animate]="true">Loading...
  </progressbar>

  <div class="container" *ngIf="!loading && found">
    <div class="row">

      <div class="col-sm-6">
        <h1 class=""><b>{{recipe.title}}</b></h1>
        <p class="info">{{recipe.description}}</p>
        <p class="info">by <a style="color: black" routerLink="/recipes/my/{{recipe.user.ID}}"><b>{{recipe.user.username}}</b></a></p>
        <br>
        <div id="ingredients">
          <section>

              <div>
                <label for="amount">Portion Size</label>
                <button type="button" (click)="unCount()" class="btn btn-primary btn-sm decreaseBtn">-</button>

                <input readonly type="number" [(ngModel)]="amount" name="amount" id="amount" min="1" max="100">

                <button type="button" (click)="inCount()" class="btn btn-primary btn-sm increaseBtn">+</button> people
              </div>

            <div class="col-sm-6" *ngFor="let ingredient of recipe.ingredientEntries">
              <h6>{{ingredient.name}}: {{ingredient.amount * amount}} {{ingredient.measurementUnit}}</h6>
            </div>
          </section>
        </div>
      </div>

      <div class="col-sm-6">
        <img class="col-sm-10" src="{{recipe.imageURL}}">
        <textarea readonly rows="10" cols="75">{{recipe.preparations}}</textarea>
      </div>

    </div>
  </div>

  <div *ngIf="!found && !loading">
    <h1 class="text-center" style="color: black">Recipe not found</h1>
  </div>

</div>
