<div class="container">
<div class="row">

  <div class="col-sm-6">
    <h1 class=""><b>Recipe Name</b></h1>
    <p class="info">Recipe Description</p>
    <p class="info">Recipe User</p>
    <br>
    <div id="ingredients">
      <section>
        <div class="row">
          <div class="col-sm-6">
            <h6>IngredientName: ingredientAmount ingredientMeasureUnit</h6>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="col-sm-6">
    <img class="col-sm-10"> Pic
    <h6>Recipe Preparation</h6>
  </div>

</div>
</div>
