.jumbotron {
  background-color: beige;
  margin-bottom: 0px;
  border-radius: 0;
}

h1, label {
  color: #183040;
}

input, input:focus, textarea {
  padding: 12px 20px;
  background: white;
  border: none!important;
  color: #183040;
}

textarea {
  height: 200px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset!important;
  -webkit-text-fill-color: #183040!important;
}

select {
  min-height: 48px;
  padding: 0 16px;
  background-color: white!important;
  color: #183040!important;
  border: none!important;
}

option {
  padding: 12px 20px;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.create, .add {;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

form button:disabled {
  cursor: not-allowed;
  border: none;
  background-color: rgba(20,20,20,0.20)
}

h6 {
  color: red;
}

#ingredients {
  border-left-style: dotted;
  border-width: 2px;
}

.ingredient {
  padding: 12px 20px;
  color: #183040;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

progressbar {
  width: 300px;
  margin-left: auto;
  margin-right:auto;
}

.row {
  padding: 0 15px;
}

#add {
  padding-top: 30px;
}

.validate {
  padding-top: 4px;
  min-height: 13px;
  max-height: 13px;
}
