<div class="jumbotron">
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
  <div class="container" *ngIf="!loading">
    <h1 class="col-sm-12">Create Recipe</h1>

    <h6 id="errorMsg" align="center">{{error}}</h6>

    <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
      <div class="form-group">
        <div class="col-sm-12">
          <label for="title">Recipe title</label>
          <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter recipe title" maxlength="32" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 &]+$">
        </div>

        <div class="col-sm-12 validate">
          <h6 *ngIf="recipeForm.get('title').invalid && recipeForm.get('title').dirty">Recipe title must be between 5-32 characters</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12">
          <label for="description">Recipe description</label>
          <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter recipe description">
        </div>

        <div class="col-sm-12 validate">
          <h6 *ngIf="recipeForm.get('description').invalid && recipeForm.get('description').dirty">Recipe description must be between 10-1000 characters</h6>
        </div>
      </div>




        <form [formGroup]="ingredientForm" (ngSubmit)="createIngredient()">
          <div class="row">

            <div class="form-group col-sm-3">
              <div class="">
                <label for="name">Ingredient name</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter ingredient name">
              </div>

              <div class="validate">
                <h6 *ngIf="ingredientForm.get('name').invalid && ingredientForm.get('name').dirty">Ingredient name required</h6>
              </div>
            </div>

            <div class="form-group col-sm-3">
              <div class="">
                <label for="amount">Ingredient amount</label>
                <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Enter ingredient amount" min="1" max="10000">
              </div>

              <div class="validate">
                <h6 *ngIf="ingredientForm.get('amount').invalid && ingredientForm.get('amount').dirty">Ingredient amount must be between 1-10000</h6>
              </div>
            </div>

            <div class="form-group col-sm-3">
              <div class="">
                <label for="measureunit">Ingredient measure unit</label>
                <input type="text" class="form-control" formControlName="measurementUnit" id="measureunit" placeholder="Enter measure unit">
              </div>

              <div class="validate">
                <h6 *ngIf="ingredientForm.get('measurementUnit').invalid && ingredientForm.get('measurementUnit').dirty">Ingredient measure required</h6>
              </div>
            </div>

            <div align="right" id="add" class="form-group col-sm-3">
              <button class="btn btn-success add" type="submit" [disabled]="!ingredientForm.valid">Add Ingredient</button>
            </div>

          </div>
        </form>




      <div>
        <section *ngFor="let ingredient of ingredients">
          <div id="ingredients" class="row">

            <div class="col-sm-3">
              <h6 class="ingredient">{{ingredient.name}}</h6>
            </div>
            <div class="col-sm-3">
              <h6 class="ingredient">{{ingredient.amount}}</h6>
            </div>
            <div class="col-sm-3">
              <h6 class="ingredient">{{ingredient.measurementUnit}}</h6>
            </div>
            <div align="right" class="col-sm-3">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(ingredient)">Remove Ingredient</button>
            </div>

          </div>
        </section>
      </div>




      <div class="form-group">
        <div class="col-sm-12">
          <label for="preparations">Recipe directions</label>
          <textarea type="text" class="form-control" formControlName="preparations" id="preparations" placeholder="Enter recipe directions"></textarea>
        </div>

        <div class="col-sm-12 validate">
          <h6 *ngIf="recipeForm.get('preparations').invalid && recipeForm.get('preparations').dirty">Directions must be between 10-1000 characters</h6>
        </div>
      </div>




      <div class="form-group">
        <div class="col-sm-12">
          <label for="category">Select category</label>
          <select class="form-control" formControlName="category" id="category">
            <option value="" disabled>Select category</option>
            <option *ngFor="let category of categories" [value]="category.ID">{{category.title}}</option>
          </select>
        </div>

        <div class="col-sm-12 validate">
          <h6 *ngIf="recipeForm.get('category').invalid && recipeForm.get('category').dirty">Select category</h6>
        </div>
      </div>



      <div class="form-group">
        <div class="col-sm-12">
          <label for="image">Recipe image</label>
          <input type="file" class="form-control" formControlName="imageURL" id="image" placeholder="Select recipe image" accept="image/*" (change)="onFileChange($event)">
        </div>

        <progressbar class="progress" *ngIf="imageLoad" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

        <div class="col-sm-12">
          <a href="{{imageURL}}" *ngIf="!imageLoad && imageURL !== ''">Uploaded image </a>
          <button type="button" class="btn btn-outline-danger" *ngIf="!imageLoad && imageURL !== ''" (click)="deleteImage()">X</button>
        </div>
      </div>

      <div class="col text-center">
        <button class="btn btn-success create" type="submit" [disabled]="!recipeForm.valid || imageLoad">Create</button>
      </div>
    </form>
    <button class="btn btn-info" (click)="goBack();">Go back</button>

  </div>
</div>
